body {
    background-color: #121212; /* Fondo oscuro para toda la página */
    color: #ffffff; /* Color de texto blanco para contraste */
    margin: 0;
    font-family: Arial, sans-serif; /* Fuente de texto predeterminada */
  }